* {
	margin: 0;
	padding: 0;
}

body {
background: #554d42;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 20px;
color: #222;
}

a {
text-decoration: none;
color: #554d42;
}
a:hover {
text-decoration: underline;
color: #CF9F5A;
}

#wrap {
margin: 20px auto;
width: 800px;
}

#header {
height: 100px;
background: #554d42 url(images/header.jpg) no-repeat;
}
#header h1 {
font-size: 28px;
letter-spacing: -1px;
padding: 29px 0 0 20px;
color: #FF5500;
}
#header h1 a {
color: #fff;
text-decoration: none;
font-weight: 100;
letter-spacing: -2px;
}
#header h1 a:hover {
color: #fff;
}
#header h2 {
font-size: 19px;
color: #fff;
padding: 5px 0 0 20px;
letter-spacing: -1px;
font-weight: 100;
}

#menu {
height: 30px;
line-height: 30px;
background: #fff url(images/menu.jpg) no-repeat;
}
#menu ul {
list-style-type: none;
padding-left: 30px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
font-size: 14px;
}
#menu ul li a:hover {
color: #000;
text-decoration: none;
}

#content {
background: #fff url(images/content.jpg) repeat-y;
padding: 0 20px 20px 20px;
}

.right {
float: right;
width: 580px;
text-align: justify;
padding-top: 5px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
}
.right h2 a:hover {

}

.left {
float: left;
width: 160px;
padding-top: 10px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 24px;
line-height: 24px;
background: #413326;
color: #fff;
font-size: 13px;
}
.left ul {
padding: 10px 0 15px 10px;
list-style-type: none;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
}
.left ul li a:hover {

}

#bottom {
background: #fff url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#footer {
text-align: center;
font-size: 11px;
color: #fff;
}
#footer a { color: #fff; }